@*
    成功页面 - 在设备授权成功后显示
    这个页面向用户展示设备已被成功授权的确认信息
*@

<div class="page-device-success">
    <div class="lead">
        <h1>Success</h1>
        <p>You have successfully authorized the device</p>
    </div>
</div>
