@* App.razor - 主应用布局文件，定义了整个Blazor应用的HTML结构 *@
<!DOCTYPE html>
<html lang="en">

<head>
    @* 头部元数据设置 *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    @* 样式表引用 *@
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="WebApp.styles.css" />
    <link rel="shortcut icon" href="images/favicon.png" />
    
    @* 允许其他组件向头部注入内容 *@
    <HeadOutlet />
</head>
<body>
    @* 路由组件，负责根据URL渲染相应的页面组件 *@
    <Routes />
    
    @* Blazor框架JavaScript文件，用于启用客户端交互 *@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
